@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sora:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sora', sans-serif;
    margin: 0;
}

h1 {
    font-size: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, 
a:focus {
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 2rem;
    background-color: black;
    color: white;
}

#site-name {
    font: bold 28px 'Sora', sans-serif;
}

#site-name:hover,
#site-name:focus {
    text-decoration: none;
}

nav a {
    margin-right: 1.2rem;
}

nav a:last-child {
    margin-right: 0;
}

main {
    min-height: calc(100vh - 28px - 2.5rem - 16px - 3rem);
    min-height: calc(100vh - 75px - 66px);
}

.title {
    margin-bottom: 4rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
}

footer p {
    margin: 0;
}