body {
    color: white;
    background-color: black;
    transition: background-color 4s ease;
}

header {
    background-color: inherit;
    color: white;
}

main {
    width: 50%;
    margin: auto;
    padding-top: 15%;
    text-align: center;
}

footer {
    background-color: inherit;
}