/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 15vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.modal-header {
    display: flex;
    justify-content: space-between;
    height: 3rem;
    font-size: 1.25rem;
    font-weight: bold;
}

#modal-label {
    margin-top: 6px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1% 2% 5% 2%;
    border: 1px solid #888;
    width: 80%;
}

.modal-content img {
    width: 50%;
    float: left;
    margin-right: 2vw;
}

#modal-subtitle {
    color: #aaaaaa;
}

#modal-title {
    font-size: 3.5rem;
    margin-bottom: 3vh;
}

#modal-body {
    font-size: 1.25rem;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    font-size: 1.25rem;
    font-weight: bold;
}

.close::first-letter {
    font-size: 1.5rem;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}